@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: gray;
}

.header {
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__content {
}

.header__nav {
}

.header__list {

}

.header__icons {

}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__link {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.btn-reset {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer__content {
}
.footer__nav {
}
.footer__list {

}
.list-reset {
}
.footer__item {
}
